<mat-card color="primary" class="mat-elevation-z4">
  <mat-card-content class="container">
    <div class="text-center">
      <p>The information on this website is for general information purposes only. Nothing on this or associated pages should
        be taken as legal advice for any individual case or situation. The information on this website is not intended to
        create and receipt or viewing of this information does not constitute an attorney-client relationship.
      </p>
      <p>
        Copyright@ Kesselman Law Firm. All rights reserved.
      </p>
    </div>
  </mat-card-content>
</mat-card>
