<div class="navbar-spacing">
  <mat-toolbar color="accent">
    <div class="container">
      <span>About Us</span>
    </div>
  </mat-toolbar>
  <mat-card class="m-20">
    <div class="row">
      <div class="col-sm-6">
        <h2>Who We Are</h2>
        <p>The principal attorney and founder of Kesselman Law Firm, Roman Kesselman, has been practicing law since 2004. He
          graduated from the University of Washington in Seattle, WA, with a Bachelor Degree in Business Administration in
          1996 and went on to get his Degree in Jurisprudence from the Willamette College of Law in Salem, OR, graduating
          in 2004. He has represented clients in State and Federal District Courts in the State of Washington, Immigration
          Courts in various states, the Board of Immigration Appeals and The 9th Circuit Federal Court of Appeals.</p>
      </div>
      <div class="image col-sm-6" [style.background-image]="'url(\'../../assets/books.jpg\')'" style="min-height: 200px;">
      </div>
    </div>
  </mat-card>
  <mat-card class="m-20 text-center">
    <h2>Our Business</h2>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <p>
          We begin our relationship with a free and confidential consulation intended to inform both sides of the facts and issues
          of a particular situation. We recognize that eash case is different and that each client will require a personal
          approach and a unique strategy.</p>
      </div>
    </div>

  </mat-card>
</div>
