.example-spacer {
  flex: 1 1 auto;
}
.show-xs{
  display: none;
}
mat-icon{
  font-size: 200%;
}
nav{
  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media (max-width: 557px) {
  .no-show-xs{
    display: none;
  }
  .show-xs{
    display: initial;
  }
}
