<div class="navbar-spacing">
  <div class="container">
    <h1 style="padding-top: 20px;">Contact Us</h1>

    <mat-card class="m-20">
      <p>
        If you would like to contact us for more information on a legal matter or would like to schedule a consultation please call
        <a href="tel:425-454-1920" class="phone-number">
          <mat-icon>phone</mat-icon>425-454-1920</a> or use the form below to email us.
      </p>
    </mat-card>
    <mat-card class="m-20">
      <div class="row">
        <div class="col-sm-6">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2686.2221321991224!2d-122.1961711839984!3d47.68010587918972!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x549012ea6fa876eb%3A0x97bb8f197317c003!2s733+7th+Ave+%23203%2C+Kirkland%2C+WA+98033!5e0!3m2!1sen!2sus!4v1518214432798"
            height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-sm-6">
          <p>
            733 - 7th Avenue, Suite 203
          </p>
          <p>Kirkland, Washington 98033</p>
          <p>
            <a href="tel:425-454-1920" class="phone-number">
              <mat-icon>phone</mat-icon>425-454-1920</a>
          </p>
          <p>
            <a href="mailto:roman@kesselmanlaw.net" class="phone-number">
              <mat-icon>mail</mat-icon> roman@kesselmanlaw.net
            </a>
          </p>
        </div>
      </div>

    </mat-card>

  </div>
</div>
