<div class="navbar-spacing container">
  <mat-tab-group [selectedIndex]="selectedTab">
    <mat-tab label="Immigration">
      <mat-card class="m-20">
        <div class="row">
          <div class="col-sm-6">
            <p>Immigration law is a complex maze of rules, procedures and forms.</p>
            <p>Whether you need deportation defense in Immigration Court, if you qualify for cancelation of removal, if you
              are seeking political asylum, if you want to make sure your family members remain legally in the United States
              or if you are looking for a business, investment or student visa, we understand how much is at stake for your
              future, and will work diligently to achieve a favorable outcome.</p>
          </div>
          <div class="image col-sm-6" [style.background-image]="'url(\'../../assets/flag2.jpg\')'" style="min-height: 200px;">
          </div>
        </div>
      </mat-card>
      <mat-card class="m-20">
        <div class="row">
          <div class="col-sm-6">
            <p>Given the complex nature of United States' immigration and naturalization laws as they relate to family law matters,
              including divorce or domestic violence situations, and criminal law matters, immigration law issues often become
              intertwined; hence, we spend significant time and energy on assessing your case to make sure your rights are
              protected and that you remain eligible for immigration benefits even when your personal circumstances change.</p>
            <p> If you have decided to pursue full citizenship, we will lead you through the necessary steps for naturalization.
              Our firm is focused on assisting immigrants with their unique legal concerns. We urge you to call us or visit
              our office for a consultation in order to learn more about your options.</p>
          </div>
          <div class="image col-sm-6" [style.background-image]="'url(\'../../assets/passport.jpg\')'">
          </div>
        </div>
      </mat-card>
      <mat-card class="m-20">
        <div class="row">
          <div class="col-sm-6">
            <p>United States present a unique opportunity for a very profitable investment and offers incredible employment
              options. Our law firm strives to achieve desired results for investors, busienss professionals, people with
              education and professional expereince looking for desired employment, and those interested in getting education
              at some of the world's best universities.</p>
            <p>When your right to live and work in this country is at stake, you should not take any chances by representing
              yourself or relying on unqualified helpers when dealing with immigration officials or judges. Let Kesselman
              Law Firm guide you through the process and fight to defend your rights and your future.</p>
            <p>We have worked on hundreds of cases representing families and individuals and, although your case is unique,
              it is likely we have encountered a similar problem or a situation and will be able to explain all of your options
              at achieving your immigraiton goals. We strive to listen to your needs, understand and analyze the entire situation,
              and find the best and the most appropriate solution for you.</p>
          </div>
          <div class="image col-sm-6" [style.background-image]="'url(\'../../assets/statue2.jpg\')'">
          </div>
        </div>
      </mat-card>

    </mat-tab>
    <mat-tab label="Personal Injury">
      <mat-card class="m-20">
        <div class="row">
          <div class="col-sm-6">
            <p>Under personal injury law, the injured party is entitled to file a personal injury claim in an effort to seek
              compensation for the sustained injuries.</p>
            <p> Whether your case involves a personal injury action concerning a car wreck or a suit filed to recover damages
              from a dog bite, our experience and careful research and investigation give you the best chance to collect
              the maximum money damages and compensation for pain and suffering.</p>
          </div>
          <div class="image col-sm-6" [style.background-image]="'url(\'../../assets/injury1.jpg\')'" style="min-height: 200px;">
          </div>
        </div>
      </mat-card>
      <mat-card class="m-20">
        <div class="row">
          <div class="col-sm-6">
            <p>Proving personal injury claims with physical, psychological or congitive damages can be a challenging process.
              Our firm is proficient in personal injury laws and qualified to handle various types of personal injury cases.</p>
            <p> Everyone at one time or another gets hurt. But it's not always our fault that we got hurt. Often someone else
              may be responsible. If that is the case then you may want to file a personal injury claim.</p>
            <p>If you or a loved one has been injured as a result of someone's negligent or reckless conduct, we can help you
              obtain fair compensation for your suffering. </p>
            <p>Contact us today to schedule a complimentary case consultation and evaluation.</p>
          </div>
          <div class="image col-sm-6" [style.background-image]="'url(\'../../assets/injury2.jpg\')'">
          </div>
        </div>
      </mat-card>
    </mat-tab>
    <mat-tab label="Bankruptcy">
      <mat-card class="m-20">
        <div class="row">
          <div class="col-sm-6">
            <p>Deciding to file for bankruptcy is a big step. Careful consideration should go into the process including speaking
              to a knowledgeable professional about your options.</p>
            <p>Once you have decided to file for bankruptcy protection, you should not feel bad about that decision, but rather
              look at it as a chance for a fresh start or as your legal right to obtain relief from usually a diffult and
              unexpected situation.</p>
          </div>
          <div class="image col-sm-6" style="min-height: 200px;" [style.background-image]="'url(\'../../assets/bankruptcy.png\')'">
          </div>
        </div>
      </mat-card>
      <mat-card class="m-20">
        <div class="row">
          <div class="col-sm-6">
            <p>Bankruptcy is a legal process in a federal bankruptcy court that relieves individuals of some or all of their
              consumer debt. Generally, a government appointed trustee assesses the debtor’s assets and liabilities and determines
              which of the assets or property the debtor is allowed to retain and which, if any, must be liquidated in ordered
              to pay as many qualifying debts as possible. Residual debts are discharged, with the exception of certain types,
              such as domestic support orders, most tax debt, and debt obtained by fraud. The goal of bankruptcy law is to
              provide qualified individuals and businesses with a fresh start to become productive and financially independent.</p>
            <p>Filing a bankruptcy petition will stop any pending foreclosure, garnishment, repossession or bank levy. Call
              now to see if you qualify for bankruptcy filing.</p>
            <p>To meet and discuss your bankruptcy options, please contact us today. We are always flexible with your schedule
              and we will make sure you get your problems resolved.</p>
          </div>
          <div class="image col-sm-6" [style.background-image]="'url(\'../../assets/bankruptcy2.jpg\')'">
          </div>
        </div>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>
