<div class="navbar-spacing">
  <mat-toolbar color="primary">
    <div class="container">
      <span>Kesselman Law Firm</span>
    </div>
  </mat-toolbar>
  <div class="container">

    <mat-card>
      <div class="row">
        <div class="col-sm-6">
          <p>Kesselman Law Firm provides legal services in the areas of immigration, personal injury and bankruptcy.</p>
          <p>Our immigration clients benefit from our many years of practice before the United States Citizenship and Immigration
            Services, Immigration Courts, Board of Immigration Appeals and the Federal Court of Appeals.</p>
          <p>Our personal injury clients benefit from our many years of experience and successful settlements with insurance
            companies, as well as court actions when necessary. People from all walks of life rely on us for practical and
            realistic strategies to resolve their legal issues, obtain court relief, receive compensation and start new lives.</p>
          <p>Contact us via phone or email to schedule a free consultation.</p>
        </div>
        <div class="image col-sm-6" [style.background-image]="'url(\'../../assets/hummer.jpeg\')'">
        </div>
      </div>
    </mat-card>
    <mat-card>
      <div class="row">
        <div class="image-face col-sm-6" [style.background-image]="'url(\'../../assets/roman.png\')'">
        </div>
        <div class="col-sm-6">
          <mat-card-title>Roman Kesselman</mat-card-title>
          <mat-card-subtitle>Attorney at Law</mat-card-subtitle>
          <mat-list>
            <mat-list-item>733 - 7th Avenue, Suite 203 Kirkland, WA 98033</mat-list-item>
            <mat-divider [inset]="true"></mat-divider>
            <mat-list-item>USA Tel: (425) 454-1920</mat-list-item>
            <mat-divider [inset]="true"></mat-divider>
            <mat-list-item>Email: roman@kesselmanlaw.net</mat-list-item>
          </mat-list>
        </div>
      </div>
    </mat-card>

  </div>

</div>
